:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    h3 {
      margin-left: 2rem;
    }
  }
  
  .content {
    margin: 5rem;
    .list {
      padding: .5rem 0;
      border-bottom: 1px solid #e9ecef;
      font-weight: 500;
    }
  }

  .required-field::after {
    content: ' *';
    color: red;
  }

  a,
  a:visited,
  a:hover {
    color: #333 !important;
    font-weight: 500 !important;
  }

  a:hover {
    color: #1976d2 !important;
    cursor: pointer;
    text-decoration: underline !important;
    font-weight: 400 !important;
  }
